<!DOCTYPE html>
<html>
    <body>
        <h3>Hi, <%= @user.name %>. What would you like to do? </h3>
	<h4>View and edit your latest review:</h4>
	<a href='/reviews/<%= @review.id %>'><%= @review.title %></a>
	<a href='/reviews/<%= @review.id %>/edit'>edit</a>
	<form method='post' action='/reviews/<%= @review.id %>'>
	  <input type='hidden' name='_method' value='delete' />
	  <input type='submit' value='Delete Review' />
	</form>
       	<h5 class='home-links'><a href='/reviews'>View all reviews</a></h5>
      	<h5 class='home-links'><a href='/reviews/new'>Leave a review</a></h5>
      	<h5  class='home-links'><a href='/logout'>Logout of Poppy</a></h5>
    </body>
</html>
