<!DOCTYPE html>
<html>
  <header>
    <ul style='display: flex; justify-content: center;'>
      <li><h5><a href='/users/home'>Home</a></h5></li>
      <h5> | </h5>
      <li><h5><a href='/reviews/new'>Write a Review</a></h5></li>
    </ul>
  <body>
    <h1>Title: <%= @review.title %></h1>
    <h2>Director: <%= @review.director %></h2>
    <h3>My favorite character: <%= @review.fav_character %></h3>
    <h3>Plot: <%= @review.description %></h3>
    <h3>My rating: <%= @review.rating %>/5</h3>
    <div id='poster'>
      <p>Review by: </p><h4><%= @review.user.name %></h4>
    </div>
    <a href='/reviews/<%= @review.id %>/edit'>Edit</a>
  </body>
</html>
