<body>
    <h1>Title: <%= @title %></h1>
    <h2>Director: <%= @director %></h2>
    <h3>My favorite character: <%= @fav_character %></h3>
    <h3>Plot: <%= @description %></h3>
    <h3>My rating: <%= @rating %>/5</h3>
</body>